{% extends "base.html" %} {% block title %}XGBoost{% endblock %} {% block content %}
<form method="POST" action="/">
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="default"  onchange='handleChange(this);' checked>
		<label class="form-check-label" for="inlineRadio1">Default</label>
	</div>
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="manual" onchange='handleChange(this);'>
		<label class="form-check-label" for="inlineRadio2">Manual</label>
	</div>
	<h6>Feature Selection:</h6>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck1" value="feelslike" name="features" disabled>
	  <label class="custom-control-label" for="customCheck1">Feels Like</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck2" value="dew" name="features" disabled>
	  <label class="custom-control-label" for="customCheck2">Dew Point</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck3" value="humidity" name="features" disabled>
	  <label class="custom-control-label" for="customCheck3">Humidity</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck4" value="precip" name="features" disabled>
	  <label class="custom-control-label" for="customCheck4">Precipitation</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck5" value="precipcover" name="features" disabled>
	  <label class="custom-control-label" for="customCheck5">Precipitation Cover</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck6" value="windspeed" name="features" disabled>
	  <label class="custom-control-label" for="customCheck6">Wind Speed</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck7" value="cloudcover" name="features" disabled>
	  <label class="custom-control-label" for="customCheck7">Cloud Cover</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck8" value="clear-day" name="features" disabled>
	  <label class="custom-control-label" for="customCheck8">Clear Day</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck9" value="partly-cloudy-day" name="features" disabled>
	  <label class="custom-control-label" for="customCheck9">Partly Cloudy Day</label>
	</div>
	<div class="custom-control custom-checkbox">
	  <input type="checkbox" class="custom-control-input" id="customCheck10" value="rain" name="features" disabled>
	  <label class="custom-control-label" for="customCheck10">Rainy Day</label>
	</div>
	<div>Number of lags:
		<select name="numlags" id="custom-select-input" disabled>
	  	<option value="0" selected>0</option>
	  	<option value="1">1</option>
	  	<option value="2">2</option>
	  	<option value="3">3</option>
	  	<option value="4">4</option>
	  	<option value="5">5</option>
	  	<option value="6">6</option>
	  	<option value="7">7</option>
	  	<option value="8">8</option>
	  	<option value="9">9</option>
	  	<option value="10">10</option>
		</select>
	</div>
	<input type="submit">
</form>
{% if plot_url1 != None %}
<div>
  <img src="data:image/png;base64, {{ plot_url1 }}">
</div>
<div>
  <img src="data:image/png;base64, {{ plot_url2 }}">
</div>
<h6>RMSE: {{ metric_url }}</h6>
{% endif %}
{% endblock %}